header{

    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: flex-start;
    

    
    width: 1440px;
    height: 79px;
}

ul{

    display: flex;
    justify-content: center;
    align-items: flex-end;


    gap: 68px;
    width: 325px;
    height: 35px;

    list-style: none;
    
    padding: 0px 25px 0px 25px;
    
}

/* Lien Globale */
a{
    color:black;
    text-decoration: none;

    
}

li a:hover{

    color: #0065FC;

}

li a:hover,li{

    border-top: 2px #0065FC solid;
    padding-bottom: 25px;
    padding-top:13px;


}


li{
    
    border-top: 2px rgb(255, 255, 255) solid;
    
}

nav{

    display:flex;
    
    align-items: flex-start;
    
    height:35px;

}


#logo{


    display: flex;
    align-items: center;

}

#logo img{

    width: 61.19px;
    height: 19px;

    gap: 10px;
    padding:30px;


}