.activite-container {
  display: flex;
  flex-direction: column;
  /*height: 559.02px;*/
  /*width: 1340px;*/
  padding: 30px;
  gap: var(--gap-activite);
}

.activite-element {
  display: flex;
  /*width: 1280px;*/
  width: 100%;
  /*height: 439px;*/
  gap: var(--gap-activite);
  flex-wrap: wrap;
  justify-content: center;
}

.card-activite {
  display: flex;
  flex-direction: column;
  width: 297.5px;
  /*height: 439px;*/
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-activite-img img {
  height: 380px;
  width: 297.5px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.card-activite-content {
  height: 59px;
  padding: 0px 19px;
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .activite-container {
    /* width: 924px;
    height: 390.02px;*/
  }

  .activite-element {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-activite {
    width: 12rem;
  }

  .card-activite-img img {
    height: 200px;
    width: 100%;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
  .activite-container,
  .activite-element {
    width: 100%;
    height: 100%;
  }

  .activite-element {
    flex-direction: column;
  }

  .card-activite {
    width: 100%;
    /*min-width: 315px;*/
    height: 200px;
  }

  .card-activite-img img {
    height: 141px;
    width: 100%;
  }
}
