footer {
    display: none;
    background-color: var(--main-bg-color);
    height: 163px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-element,
.footer-container li {
    display: flex;
    flex-direction: column;
    gap:15px;
    width: 446.67px;
}