footer {
    background-color: var(--main-bg-color);
    height: 163px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.footer-element,
.footer-container li {
    display: flex;
    flex-direction: column;
    gap:15px;
    width: 446.67px;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    footer {
        height:0px;
        margin-top: 1000px;
    }

    .footer-container {
        gap: 50px;
    }
}
