/*Section sous le header*/
.infogroup-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    height:281px;
    padding-top:0px;
    margin:0;
}

.infogroup-element{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   
    height: 53px;
    width: 1340px;
}

form{
    display: flex;
    width: 377px;
    height:49px;
}

form button{
    /* Police */
    color:white;
    font-weight: 700;
    font-size: 18px;
    /* Bouton */
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: 0px;
    height: 49px;
    width: 132px;
}

.filtre-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 15px;
    width: 758px;
    height: 50px;
}

.filtre-element{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    height: 50px;
}

.filtre-element:hover{
    background-color: var(--filter-bg-color);
}

#icone{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F2F2F2;
    height: 49px;
    width: 50px;
    border-radius: 15px 0px 0px 15px;
}

#search{

    /* Police */

    border: 0px;
    color: black;
    font-size: 18px;
    font-weight:bold;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    text-align: center;
    height: 49px;

}

.teste-container{
    display: flex;
    align-items: center;
    gap:10px;
}
