/*Section sous le header*/
.infogroup-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:35px;
    height:281px;
}

.headline{
    gap:8px;    
    height: 53px;
}

form{
    display: flex;
    width: 377px;
    height:49px;
}

.filtre-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 15px;
    width: 758px;
    height: 50px;
}

.filtre-element{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    height: 50px;
}

.filtre-element:hover{
    background-color: var(--filter-bg-color);
}

.infogroup-element{
    display: flex;
    align-items: center;
    gap:10px;
    height: 24px;
}

#icone{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F2F2F2;
    height: 49px;
    width: 50px;
    border-radius: 15px 0px 0px 15px;
}